*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{ 
    font-family:'Arnhem';
    src: url('../fonts/arnhem.otf') format('truetype');
}

@font-face{ 
    font-family:'Arnhem Bold';
    src: url('../fonts/arnhem-bold.otf') format('truetype');
}

@font-face{ 
    font-family:'Swiss';
    src: url('../fonts/swiss.ttf') format('truetype');
}

@font-face{ 
    font-family:'Lato';
    src: url('../fonts/lato.ttf') format('truetype');
}

:root{
    --mainAchtergrond: #777162;
    --achtergrondFolderEen: #969080;
    --tekstFolderEen: #3f3e2c;
    --achtergrondFolderTwee: #211e15;
    --tekstFolderTwee: #dbd2b7;
    --achtergrondFolderDrie: #c1b6a4;
    --tekstFolderDrie: #1b150b;
    --mainTekstKleur: #FAFAF7;
    --mainTekstFont: 'Inter', sans-serif;
    --lijn: #D6D4CB;
    
    --normaalFont: 'Arnhem', sans-serif; 
    --normaalFontBold: 'Arnhem Bold', sans-serif; 
    --fancyFont: 'Swiss', sans-serif;
}

.other-theme{
    --mainAchtergrond: white;
    --achtergrondFolderEen: black;
    --tekstFolderEen: white;
    --achtergrondFolderTwee: black;
    --tekstFolderTwee: white;
    --achtergrondFolderDrie: black;
    --tekstFolderDrie: white;

    --normaalFont: sans-serif;
    --normaalFontBold: sans-serif;
    --fancyFont: sans-serif;
}

h1{
    font-family: var(--normaalFontBold);
    letter-spacing: 0.01em;
    color: white;
}

h2{
    font-family: var(--normaalFont);
    letter-spacing: 0.01em;
    color: white;
}

h3{
    font-family: var(--fancyFont);
    color: var(--mainTekstKleur);
    font-size: 5em;
    font-weight: 1;
}

h4{
    font-family: var(--fancyFont);
    font-size: 3em;
    font-weight: 1;
}

p{
    color: var(--mainTekstKleur);
    font-family: var(--mainTekstFont);
}

li{
    font-family: var(--mainTekstFont);
}

html{
    background-color: var(--mainAchtergrond);
}

ul{
  list-style-type: '- ';
}

/* -------------------------------------------- HEADER -------------------------------------------*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 94vh;
}

/* -------------------------------------------- MAIN -------------------------------------------*/

/* ----------- TITELS BOVENIN ----------*/

.statisch{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    color: var(--tekstFolderEen);

    padding: 0.2em;
    top: 0.5em;
    width: 100%;
}

.statisch h5:nth-of-type(1){
    text-transform: uppercase;
}

.container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------- FOLDERS -------------------------------------------*/

article{
    position: relative;
    transition: transform 2s ease;
}

article section{
    width: 95vw;
    margin-bottom: 2em;
    padding: 0.5em 1em;

    /* max-height: 140px; */
    overflow: hidden;
}

article.active section{
    max-height: 800px;
}

article.active{
    z-index: 10;
}

/* Folders schuiven omhoog */

.folder-2.active{ 
    transform: translateY(-259.9px);
}

.folder-3.active{
    transform: translateY(-848px);
}

@media (max-width: 768px) { 

    .folder-2.active{
        transform: translateY(-195px);
    }

    .folder-3.active{
        transform: translateY(-390px);
    }

}

/* ----------------- FOLDER 1 -----------------*/

.folder-1{
    position: relative;
    z-index: 1;
}

.folder-1 p{ /* ----- tabje -----*/
    background-color: var(--achtergrondFolderEen);
    color: var(--tekstFolderEen);
    text-transform: uppercase;
    width: 30vw;
    max-width: 80px;

    padding: 0.6em 1em;
    font-weight: bold;

    border-radius: 12px 12px 0 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

.folder-1 section{ /* ----- folder -----*/
    background-color: var(--achtergrondFolderEen);
    color: var(--tekstFolderEen);
    border-radius: 0 6px 6px 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);

    padding: 1em 2em;
}

/* ----------------- FOLDER 2 -----------------*/

.folder-2{
    position: relative;
    z-index: 2;
}

.folder-2 p{ /* ----- tabje -----*/
    margin-left: 5.15em;
    background-color: var(--achtergrondFolderTwee);
    text-transform: uppercase;
    color: var(--tekstFolderTwee);
    width: 30vw;
    max-width: 100px;

    padding: 0.6em 1em;
    font-weight: bold;

    border-radius: 12px 12px 0 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {

    .folder-2 p{
        width: 80vw;
        margin-left: 4.4em;

        padding: 0.6em 1em;
    }
}

.folder-2 section{ /* ----- folder -----*/
    background-color: var(--achtergrondFolderTwee);
    color: var(--tekstFolderTwee);

    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);

    padding: 1em 2em;
}

.folder-2 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;  
    column-gap: 200px;
    margin: 4em 9em;
}

.folder-2 li{
    list-style: none;
    justify-self: start;
}

.folder-2 li:nth-child(even){
  justify-self: end;
}

/* ----------------- FOLDER 3 -----------------*/

.folder-3{
    position: relative;
    z-index: 11;
    overflow: hidden;
}

.folder-3 p{ /* ----- tabje -----*/
    margin-left: 11.5em;
    background-color: var(--achtergrondFolderDrie);
    text-transform: uppercase;
    color: var(--tekstFolderDrie);
    width: 55vw;
    max-width: 200px;

    padding: 0.6em 1em;
    font-weight: bold;

    border-radius: 12px 12px 0 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {

    .folder-3 p{
        margin-left: 13em;
    }
}

.folder-3 section{ /* ----- folder -----*/
    background-color: var(--achtergrondFolderDrie);
    color: var(--tekstFolderDrie);
    position: relative;

    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);

    height: 550px;

    padding: 1em 2em;
}

/* -------------------------------------------- OVER MIJ MET FOTO -------------------------------------------*/

.about-me{
    display: flex;
    flex-direction: row;
    margin: 5em;

    border-left: 1px solid var(--lijn);

    height: 100vh;
    color: var(--mainTekst);

    /* Margin even groot maken als de secties hierboven */
}

.about-me img{
    height: 60vh;
	object-fit: cover;

    position: sticky;
    top: 15vh;
    align-self: flex-start;
    padding-left: 3em;

    img{
      aspect-ratio: 1;
    }

    @media (prefers-reduced-motion: no-preference) {
      animation-name: afbeeldingUno;
      animation-range: entry contain;
      animation-fill-mode: both;
      animation-timeline: view();
    }
}

@keyframes afbeeldingUno{
  from{
    transform: translateX(80em)
  }
  to{
    transform: translateX(0em)
  }
}

.about-me div {
    margin-left: 2em;
    margin-right: 8em;    
}

.about-me p{
    padding-top: 1em;
    padding-right: 3em;
    width: 20vw;   

    p{
      aspect-ratio: 1;
    }

    @media (prefers-reduced-motion: no-preference) {
      animation-name: tekstEen;
      animation-range: entry contain;
      animation-fill-mode: both;
      animation-timeline: view();
    }
}

@keyframes tekstEen{
  from{
    transform: translateX(80em)
  }
  to{
    transform: translateX(0em)
  }
}

/* ---------------------------------------------- GALLERY FOTO'S -------------------------------------------*/

::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

.horizontal-scroll-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vh;
    height: 100vw;

    transform: rotate(-90deg) translate3d(0,-100vh,0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;

    margin-top: 25em;
}

.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(90deg);
    min-height: 40vh;
    transform-origin: 50% 50%;
    transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
    transition: 1s;
}

.img-wrapper:hover{
    min-height: 65vh;
}

.horizontal-scroll-wrapper img{
    max-width: 45vh;
    max-height: 50vh;

    transition: 0.5s;
    vertical-align: top;
}

.slower{
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}

.slower1{
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}

.slower2{
    transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}

.slower-down{
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh);
}

.faster{
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh);
}

.faster1{
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh);
}

.fastest{
    transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
}

.vertical{
    transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%);
}

.last{
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh);
}

/* ----------------------------------------------- LEERDOELEN -----------------------------------------------*/

.leerdoelen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leerdoelen img{
    height: 20vh;
}

.leerdoelen > div{
    display: flex;
    justify-content: space-around;
    width: 100%;

    gap: 1em;
}

.leerdoelen > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5em;
}

.leerdoelen > div > div > p{
    padding-top: 1em;
}

/* --------------- SVG animeren? ------------------*/

/* --------------- laten bouncen zoals die poppetjes van Sanne? ------------------*/

/* ------------------------------------------- API KLASGENOTEN -----------------------------------------------*/

.klasgenoten{
    height: 100vh;
    margin-top: 9em;
}

/* ---------------------------------------------- ANIMATIES --------------------------------------------------*/



/* Glitch Text Reveal */

/* [data-char] {
  color: transparent;
  position: relative;
}

[data-char]:after {
  --txt: attr(data-char);
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-timing-function: steps(1);
  animation-fill-mode: backwards;
  content: var(--txt);
  color: var(--color);
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes glitch-switch {
  0% { content: var(--char-0); }
  10% { content: var(--char-1); }
  20% { content: var(--char-2); }
  30% { content: var(--char-3); }
  40% { content: var(--char-4); }
  50% { content: var(--char-5); }
  60% { content: var(--char-6); }
  70% { content: var(--char-7); }
  80% { content: var(--char-8); }
  90% { content: var(--char-9); }
  100% { content: var(--char-0); }
} */